.onboarding-heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--header-text-color);
}

.logo-white {
  width: 2rem;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 1rem;
  margin-top: 1rem;
}