<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Flight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Flight</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="flight; else noFlight">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ flight.flightDetails.ident }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Origin:</strong> {{ flight.flightDetails.origin }}</p>
        <p><strong>Destination:</strong> {{ flight.flightDetails.destination }}</p>
        <p><strong>Departure:</strong> {{ flight.flightDetails.scheduled_out | date: 'yyyy-MM-dd HH:mm' }}</p>
        <p><strong>Arrival:</strong> {{ flight.flightDetails.scheduled_in | date: 'yyyy-MM-dd HH:mm' }}</p>
      </ion-card-content>
    </ion-card>

    <div *ngIf="flight.previousFlight; else noPath">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Estimated flight path</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-actual-flight-path-map *ngIf="flight.previousFlight?.flightPath" [flightPath]="formatFlightPath(flight.previousFlight.flightPath!)">
          </app-actual-flight-path-map>
        </ion-card-content>
      </ion-card>
    </div>

    <ng-template #noPath>
      <div class="no-path-message">
        <p>Your estimated flight path is not known yet.</p>
      </div>
    </ng-template>
  </div>

  <ng-template #noFlight>
    <div class="no-flight-message">
      <p>{{ message }}</p>
    </div>
  </ng-template>

  <ion-button expand="full" (click)="goBackToMain()">Go Back</ion-button>
</ion-content>