<!-- tab2.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar class="tab-header">
    <ion-title>Flights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fancy-header">
    <div class="header-content">
      <div>
        <h1>Hello, User!</h1>
        <p>Here are your flights</p>
      </div>
    </div>
  </div>

  <div *ngIf="flight; else noFlight">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ flight.flightDetails.ident }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Origin:</strong> {{ flight.flightDetails.origin }}</p>
        <p><strong>Destination:</strong> {{ flight.flightDetails.destination }}</p>
        <p><strong>Departure:</strong> {{ flight.flightDetails.scheduled_out | date: 'yyyy-MM-dd HH:mm' }}</p>
        <p><strong>Arrival:</strong> {{ flight.flightDetails.scheduled_in | date: 'yyyy-MM-dd HH:mm' }}</p>
        <p><strong>Status:</strong> {{ status }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="flightPath.length">
      <ion-card-header>
        <ion-card-title>Live Flight Path</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-live-flight-path-map [flightPath]="flightPath" [planePosition]="currentAproximatePosition" [scheduledDeparture]="flightDetails.scheduled_out" [previousFlightDuration]="previousFlightDuration"></app-live-flight-path-map>
      </ion-card-content>
    </ion-card>

    <ng-template #noPath>
      <div class="no-path-message">
        <p>Your estimated flight path is not known yet.</p>
      </div>
    </ng-template>
  </div>

  <ng-template #noFlight>
    <div class="no-flight-message">
      <p>{{ message }}</p>
    </div>
  </ng-template>

  <ion-button expand="full" (click)="goBackToMain()">Go Back</ion-button>
</ion-content>