<!-- tab1.page.html -->

<ion-header [translucent]="true">
  <auth-app-header></auth-app-header>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <div class="fancy-header">
    <div class="header-content">
      <div>
        <h1>Welcome Back, {{ profile?.first_name || 'User' }}!</h1>
        <p>When is your next flight?</p>
      </div>
    </div>
  </div>

  <div class="flights-container">
    <div *ngIf="ongoingFlights.length > 0" class="flights-section">
      <h2>Ongoing Flights</h2>
      <ion-list>
        <ion-card *ngFor="let flight of ongoingFlights" class="flight-card ongoing-flights" (click)="navigateToTracking(flight)">
          <ion-card-content>
            <div class="flight-card-container">
              <div class="flight-info">
                <div class="flight-number">{{ flight.flightDetails.ident_iata }}</div>
              </div>
    
              <div class="flight-route">
                <span class="iata">{{ flight.flightDetails.origin_iata }}</span>
                <span class="route-line"></span>
                <ion-icon name="airplane-outline"></ion-icon>
                <span class="route-line"></span>
                <span class="iata">{{ flight.flightDetails.destination_iata }}</span>
              </div>
    
              <div class="flight-time">
                <div class="time-info left">
                  <span class="time">{{ flight.flightDetails.scheduled_out | date: 'HH:mm' }}</span>
                  <span class="label">Departure</span>
                </div>
                <div class="duration">1h 45min</div>
                <div class="time-info right">
                  <span class="time">{{ flight.flightDetails.scheduled_in | date: 'HH:mm' }}</span>
                  <span class="label">Arrival</span>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>

    <div *ngIf="upcomingFlights.length === 0 && ongoingFlights.length === 0" class="no-flights">
      <ion-icon name="airplane-outline"></ion-icon>
      <p>No flights available to display</p>
    </div>

    <div *ngIf="upcomingFlights.length > 0" class="flights-section">
      <h2>Upcoming Flights</h2>
      <ion-list>
        <ion-card *ngFor="let flight of upcomingFlights" class="flight-card upcoming-flights" (click)="openFlightDetails(flight)">
          <ion-card-content>
            <div class="flight-card-container">
              <div class="flight-info">
                <div class="flight-number">{{ flight.flightDetails.ident_iata }}</div>
              </div>
    
              <div class="flight-route">
                <span class="iata">{{ flight.flightDetails.origin_iata }}</span>
                <span class="route-line"></span>
                <ion-icon name="airplane-outline"></ion-icon>
                <span class="route-line"></span>
                <span class="iata">{{ flight.flightDetails.destination_iata }}</span>
              </div>
    
              <div class="flight-time">
                <div class="time-info">
                  <span class="time">{{ flight.flightDetails.scheduled_out | date: 'HH:mm' }}</span>
                  <span class="label">Departure</span>
                </div>
                <div class="duration">2h 30min</div>
                <div class="time-info">
                  <span class="time">{{ flight.flightDetails.scheduled_in | date: 'HH:mm' }}</span>
                  <span class="label">Arrival</span>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>

    <div *ngIf="previousFlights.length > 0" class="flights-section">
      <h2>Previous Flights</h2>
      <ion-list>
        <ion-card *ngFor="let flight of previousFlights" class="flight-card previous-flights" (click)="openFlightDetails(flight)">
          <ion-card-content>
            <div class="flight-card-container">
              <div class="flight-info">
                <div class="flight-number">{{ flight.flightDetails.ident_iata }}</div>
              </div>

              <div class="flight-route">
                <span class="iata">{{ flight.flightDetails.origin_iata }}</span>
                <span class="route-line"></span>
                <ion-icon name="airplane-outline"></ion-icon>
                <span class="route-line"></span>
                <span class="iata">{{ flight.flightDetails.destination_iata }}</span>
              </div>

              <div class="flight-time">
                <div class="time-info">
                  <span class="time">{{ flight.flightDetails.scheduled_out | date: 'MM/dd' }}</span>
                  <span class="time">{{ flight.flightDetails.scheduled_out | date: 'HH:mm' }}</span>
                  <span class="label">Departure</span>
                </div>
                <div class="duration">3h 15min</div>
                <div class="time-info">
                  <span class="time">{{ flight.flightDetails.scheduled_in | date: 'HH:mm' }}</span>
                  <span class="label">Arrival</span>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-add-flight-modal" class="add-flight-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!-- <ion-button id="open-add-flight-modal" class="add-flight-button" expand="block">Add Flight</ion-button> -->
  <ion-fab>
    <ion-fab-button id="open-add-flight-modal" class="add-flight-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <button mat-flat-button id="open-add-flight-modal" class="add-flight-button" expand="block">Add Flight</button> -->

  <ion-modal #modal trigger="open-add-flight-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Flight</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-input label="Flight Number" labelPlacement="stacked" type="text" placeholder="Enter flight number e.g., LO784" [(ngModel)]="flightNumber">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Origin (IATA or ICAO)" labelPlacement="stacked" type="text" placeholder="Enter origin airport e.g., RIX" [(ngModel)]="origin">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Destination (IATA or ICAO)" labelPlacement="stacked" type="text" placeholder="Enter destination airport e.g., WAW" [(ngModel)]="destination">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime label="Date" labelPlacement="stacked" [(ngModel)]="flightDate" presentation="date" placeholder="Select departure date">
            <span slot="title">Select a Departure Date</span>
          </ion-datetime>
        </ion-item>

        <ion-button expand="block" (click)="confirm()">Confirm</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>