<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <div class="fancy-header">
    <div class="header-content">
      <div>
        <h1>Hello, User!</h1>
        <p>Here are your flights</p>
      </div>
      <ion-img class="header-image" src="assets/airplane-side.png"></ion-img>
    </div>
  </div>

  <div class="flights-container">
    <div *ngIf="upcomingFlights.length > 0" class="flights-section">
      <h2>Upcoming Flights</h2>
      <ion-list>
        <ion-card *ngFor="let flight of upcomingFlights" (click)="openFlightDetails(flight)">
          <ion-card-header>
            <ion-card-title>{{ flight.ident_iata }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="flight-details">
              <div class="route">{{ flight.origin_iata }} → {{ flight.destination_iata }}</div>
              <div class="date">Scheduled: {{ flight.scheduled_in | date: 'yyyy-MM-dd HH:mm' }}</div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>

    <div *ngIf="previousFlights.length > 0" class="flights-section">
      <h2>Previous Flights</h2>
      <ion-list>
        <ion-card *ngFor="let flight of previousFlights" (click)="openFlightDetails(flight)">
          <ion-card-header>
            <ion-card-title>{{ flight.ident_iata }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="flight-details">
              <div class="route">{{ flight.origin_iata }} → {{ flight.destination_iata }}</div>
              <div class="date">Scheduled: {{ flight.scheduled_in | date: 'yyyy-MM-dd HH:mm' }}</div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-button id="open-add-flight-modal" class="add-flight-button" expand="block">Add Flight</ion-button>

  <ion-modal #modal trigger="open-add-flight-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Flight</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-input label="Flight Number" labelPlacement="stacked" type="text" placeholder="Enter flight number e.g., LO784" [(ngModel)]="flightNumber">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime label="Date" labelPlacement="stacked" [(ngModel)]="flightDate" presentation="date" placeholder="Select departure date">
            <span slot="title">Select a Departure Date</span>
          </ion-datetime>
        </ion-item>
        <ion-button expand="block" (click)="confirm()">Confirm</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>