.custom-content {
  --ion-safe-area-top: 0px;
  background: var(--ion-color-tertiary) !important;
}

.tab-header {
  --background: var(--header-background);
  --color: var(--header-text-color);
}

ion-icon {
  --ionicon-stroke-width: 1rem;
}

.fancy-header {
  background: var(--header-background);
  color: var(--header-text-color);
  padding: 40px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flights-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-list {
  background: none;
}

.header-content h1 {
  color: var(--header-text-color);
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: bold;
  margin: 0;
}

.header-content p {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  margin: 4px 0 0 0;
  color: var(--header-text-color);
}

.header-image {
  width: clamp(100px, 100%, 200px);
  height: auto;
  transform: translateY(-10px);
}

.flights-container {
  margin: 16px;
}

.flights-section {
  margin-bottom: 24px;
}

.flights-section h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 12px;
}

ion-card {
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.flight-card {
  background-color: var(--ion-color-light);
  color: var(--always-black);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.flight-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flight-info {
  font-size: 1.2rem;
  font-weight: 500;
}

.flight-route {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 600;
}

.iata {
  font-weight: bold;
}

.route-line {
  flex: 1;
  height: 1px;
  background-color: var(--ion-color-medium);
}

.flight-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 1.4rem;
  font-weight: bold;
}

.label {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

ion-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

.duration {
  font-size: 0.8rem;
  color: var(--ion-color-primary);
  font-weight: 500;
  text-align: center;
}

.add-flight-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;
  --color: white;
  font-size: 16px;
  font-weight: 600;
  --background: var(--green) !important;
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.date {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--always-black);
}

.date-icon {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.day {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--always-black);
}

ion-datetime {
  margin: 2rem auto;
}

.no-flights ion-icon {
  font-size: 10rem;
  transform: rotate(-45deg);
  color: var(--text-secondary);
}

.no-flights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: var(--ion-color-medium);
}


.ongoing-flights {
  background-color: var(--app-yellow);
}

.upcoming-flights {
  background-color: var(--app-green);
}

.previous-flights {
  background-color: var(--app-blue);
}