.account-content {
  --background: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  align-items: center !important;
  padding: 16px;
}

.profile-card {
  margin: 16px 1.6rem;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.profile-avatar ion-img img {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  object-fit: cover;
  // border: 3px solid var(--ion-color-primary);
}

.profile-picture {
  border-radius: 50% !important
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--always-white);
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: var(--always-white);
}

ion-item {
  --background: transparent;
  --color: var(--text-primary);
  --border-radius: 8px;
  --padding-start: 16px;
}

ion-item ion-icon {
  color: var(--ion-color-primary);
  font-size: 1.4rem;
}

.ion-text-center {
  margin-top: 20px;
  width: 100%;
}

ion-button {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  width: 15rem;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 7.5rem);
}


.profile-overview {
  background: var(--ion-color-darkblue);
  color: var(--always-white);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px;
  text-align: center;
}

.profile-overview h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}