// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #007aff; 
  --ion-color-primary-rgb: 0, 122, 255;
  --ion-color-secondary: #004ba8;
  --ion-color-secondary-rgb: 0, 75, 168;
  --ion-color-tertiary: #f4f4f9;

  --header-background: var(--ion-color-primary);
  --header-text-color: white;
  --card-color: #c1d8ff;
  --green: #1bb136;
  --text-primary: #282828;
  --text-secondary: rgb(82, 82, 82);
  --card-background: white;
  --card-text-color: var(--text-primary);
  // --ion-background-color: #f4f4f9;
}


@media (prefers-color-scheme: dark) {
  :root {

    --ion-color-primary: #0056b3;
    --ion-color-secondary: #002e73;
    --ion-color-tertiary: #1e1e1e;
    --green: #1c802e;
    --card-color: #1f2d59;
    --ion-background-color: #04042c !important;
    --ion-tab-bar-background: #20622c !important;
    --ion-tab-bar-color: #d7d7d7 !important;
    --ion-tab-bar-color-selected: #ffffff !important;

    --header-background: var(--ion-color-secondary);
    --header-text-color: #e1e1e1;
    --text-primary: #f4f4f9;
    --text-secondary: #d0d0d0;
    --card-background: #1e1e1e;
    --card-text-color: var(--text-primary);
  }
}