<ion-content class="auth-content">
  <app-header></app-header>

  <div class="auth-header">
    <h1>Create Account</h1>
    <p>Sign up to get started</p>
  </div>

  <form #signupForm="ngForm" (ngSubmit)="signUp()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required autocomplete="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="signupForm.submitted && signupForm.controls['email']?.invalid">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required autocomplete="current-password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="signupForm.submitted && signupForm.controls['password']?.invalid">
      Password is required.
    </div>

    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName" name="firstName" required></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="signupForm.submitted && signupForm.controls['firstName']?.invalid">
      First name is required.
    </div>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="signupForm.submitted && signupForm.controls['username']?.invalid">
      Username is required.
    </div>

    <ion-button expand="block" type="submit" class="signin-btn" [disabled]="signupForm.invalid">
      Sign Up
    </ion-button>
  </form>

  <div class="auth-divider">OR</div>

  <ion-button expand="block" color="secondary" (click)="signUpWithGoogle()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign Up with Google
  </ion-button>

  <div class="auth-footer">
    <p>Already have an account? <a (click)="goToLogin()">Login</a></p>
  </div>
</ion-content>