.custom-content {
  --ion-safe-area-top: 0px;
  background: var(--ion-color-darkblue);
  padding: 0;
}

.details-header {
  --background: var(--ion-color-darkblue);
  --color: var(--always-white);
}

.flight-summary {
  background: var(--ion-color-darkblue);
  color: var(--header-text-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px;
  text-align: center;
}

.flight-route {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  font-size: 18px;
  font-weight: bold;
}

.airport-code {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.airport-name {
  font-size: 14px;
  margin: 0;
  // color: var(--text-secondary);
}

.flight-route ion-icon {
  font-size: 32px;
  color: var(--header-text-color);
  // transform: rotate(90deg);
}

.flight-time {
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--header-text-color);
}


ion-card {
  margin: 16px;
  border-radius: 16px;
  background: none;
  color: var(--card-text-color);
  box-shadow: none;
}

ion-card-header ion-card-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-primary);
}

ion-col {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary);
}

app-actual-flight-path-map {
  // height: 20rem;
  // width: 20rem;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.no-path {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-path-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.no-path-icon {
  font-size: 4rem;
  color: var(--text-secondary);
}

.flight-route {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}

.flight-route ion-icon {
  font-size: 3rem;
  --ionicon-stroke-width: 1.6rem;
}

.iata {
  font-weight: 500;
}

.route-line {
  flex: 1;
  border-top: 2px dotted var(--always-white);
  margin: 0 8px;
}

.flight-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 22px;
  font-weight: bold;
}

.duration {
  font-size: 0.8rem;
  color: var(--always-white);
  font-weight: 400;
  text-align: center;
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.label {
  font-size: 0.9rem;
}

.date {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flight-info {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

.codeshare-info {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  gap: .3rem;
  color: var(--always-white);
}

.codeshares-text {
  font-weight: 600;
  color: var(--always-white);
}